---
import BaseLayout from '@/layouts/BaseLayout.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';
---

<BaseLayout title="Home" pageId="home">
  <Header activeId="home" />

  <main class="container">
    <article>
      <span class="page-label">HOME</span>
      <h1>こんにちは。</h1>
      <section class="hero">
        <p>ここは私のポートフォリオのページです。<br>コンテンツは随時追加していきます。</p>
      </section>
    </article>
  </main>

  <Footer />
</BaseLayout>
